@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Facade";
  src: url("/fonts/Facade-Ouest.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
